$background: #f5f5f5;
$grey: #636b6f;
$logo: #542585;
$logo-hover: #46206e;
$black-text: #212529;
$white-text: #fff;
$card-color: #f9f9f9;
$disabled-color: #a1a1a1;
$footer-color: #16163f;

*,
*:before,
*:after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: $background;
	overflow-x: hidden;
}
html {
	overflow-x: hidden;
}

@mixin setSectionBack($back-color) {
	background: $back-color;
}

@mixin setFlex($direction) {
	display: flex;
	flex-direction: $direction;
	justify-content: center;
	align-items: center;
}

@mixin setGrid($col1, $col2) {
	display: grid;
	grid-template-columns: $col1 $col2;
	align-items: center;
	justify-content: center;
}

.heading {
	color: $logo;
	text-align: center;
	font-weight: 700;
	font-size: 2rem;
	padding: 0;
	margin: 1rem 0;
}

.sub-heading {
	text-align: center;
	color: $black-text;
	padding: 0;
	margin: 1rem 0;
	font-weight: 600;
	font-size: 1.5rem;
}

.small-heading {
	text-align: center;
	color: $black-text;
	font-weight: 600;
	font-size: 1.2rem;
}

.section-paragraph {
	text-align: center;
	color: $black-text;
	font-size: 1.1rem;
}
.read-more-btn {
	display: block;
	width: 60%;
	max-width: 190px;
	text-decoration: none;
	background-color: $logo;
	color: $white-text;
	text-align: center;
	font-weight: 600;
	padding: 0.5rem;
	border-radius: 1.5rem;
	border: 3px solid $logo;
	transition: all 0.3s ease;
	&:hover {
		background-color: $white-text;
		color: $logo;
	}
	&:focus {
		outline: none;
	}
}
.read-more-btn2 {
	max-width: max-content;
	text-decoration: none;
	background-color: transparent;
	color: $logo;
	border: none;
	text-align: left;
	font-weight: 600;
	padding: 0.25rem;
	border-radius: 1.5rem;
	display: flex;
	align-items: center;
	transition: all 0.3s ease;
	&:hover {
		background-color: transparent;
		color: $logo;
	}
	&:focus {
		outline: none;
	}
	&:hover,
	&:focus,
	&:active {
		.fa-angle-right {
			transform: translateX(0.5rem);
		}
	}
	.fa-angle-right {
		color: $logo;
		margin-left: 0.75rem;
		transform: translateX(0);
		transition: all 0.3s ease;
	}
}

.secondary-paragraph {
	color: $disabled-color;
	text-align: center;
	font-size: 1rem;
}
//* Swiper pagination
.swiper-pagination-bullet {
	background-color: $logo;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	transition: all 0.3s;
}
.swiper-pagination {
	outline: none;
	bottom: 0;
}
.swiper-pagination-bullet-active {
	background: $logo;
	outline: none;
	transform: scale(1.4);
}
//* Scroll up button
.scroll-up-btn {
	position: fixed;
	height: 42px;
	width: 42px;
	background: #542585;
	right: 1rem;
	bottom: 5px;
	text-align: center;
	line-height: 45px;
	color: #fff;
	z-index: 9999;
	font-size: 30px;
	border-radius: 6px;
	cursor: pointer;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s ease;
}

.scroll-up-btn.show {
	opacity: 1;
	pointer-events: auto;
	bottom: 30px;
}