@import 'setup';

@import 'navbar';

//* Carousel (main)
.main-carousel {
	height: 100vh;
	.carousel {
		img {
			height: auto;
		}
		.carousel-controllers {
			display: none;
		}
	}
	.carousel-indicators {
		bottom: -3.5rem;
		li {
			background-color: $logo;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			margin: 0 0.5rem;
			transition: all 0.3s;
		}
		li.active {
			transform: scale(1.5);
		}
	}
}

.carousel-item {
	height: 85vh;
	h3 {
		font-weight: bolder;
		color: $white-text;
		margin-bottom: 0.5rem;
	}
	p.slide-paragraph,
	li,
	a {
		font-weight: bolder;
		color: $white-text;
	}
	ol {
		padding: 0;
		margin: 0 0 0 0.5rem;
	}
	.desktop {
		display: none;
	}
	.laptop {
		display: none;
	}
	.tablet {
		display: none;
	}
	.mobile {
		display: block;
	}

	.action-btn {
		display: block;
		text-align: center;
		width: 140px;
		text-decoration: none;
		color: $logo;
		background-color: #fff;
		padding: 0.75rem;
		border-radius: 2rem;
		margin: 0.5rem auto 0 auto;
		transition: transform 0.3s;
		&:hover {
			transform: scale(1.03);
		}
	}

	.slide-caption {
		@include setFlex(column);
		position: absolute;
		bottom: 0;
		opacity: 0.85;
		padding: 1rem;
		width: calc(100vw);
		z-index: 1040;
		.slide-list {
			margin-top: 1rem;
			padding-left: 1rem;
		}
	}
	.slide1 {
		background-color: #e4e4dc;
		z-index: 1;
		h3 {
			color: $black-text;
			text-align: center;
		}
		.action-btn {
			color: $white-text;
			background-color: $logo;
		}
		p {
			text-align: center;
			color: $black-text;
		}
		.slide-paragraph-bigger {
			font-size: larger;
			font-weight: bolder;
		}
		.slide-paragraph {
			font-weight: lighter;
		}
	}
	.slide2 {
		background-color: #f10c22;
		// background-color: #353b49;
	}
	.slide3 {
		background-color: #183c7a;
	}
	.slide4 {
		background-color: #222530;
	}
}

//* About section
.about {
	margin: 0 1rem 1.5rem 1rem;
	padding: 0;
	text-align: center;
	@include setFlex(column);
	h1 {
		margin-top: 0;
	}
}
.rector-container {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	//Image ratio is 1.583 (width/height), 2rem initial padding
	height: calc((100vw - 2rem) / 1.583);
	margin: 1rem 0;
	img {
		position: absolute;
		top: 0;
		width: 100%;
		height: auto;
		z-index: -1;
	}
	.rector-content {
		border-left: 5px solid #0a2b6e;
		padding-left: 0.5rem;
		max-width: 60%;

		h3,
		h4,
		p {
			margin: 0;
			text-align: left;
		}
		h3 {
			margin-top: 0.5rem;
			color: $logo;
			font-weight: 700;
			font-size: 0.8rem;
		}
		h4 {
			color: #1644a1;
			font-size: 0.7rem;
			font-weight: 600;
			margin: 0.5rem 0;
		}
		p {
			color: $black-text;
			font-size: 0.8rem;
			font-weight: 700;
			line-height: 1.3;
		}
	}
}

//* Values part
.values {
	text-align: left;
	.cards {
		background: $card-color;
		box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.13);
		border-radius: 1rem;
		padding: 1rem;
		margin-top: 1rem;
		@include setGrid(1fr, 3fr);
		align-self: stretch;
		.icon-part {
			justify-self: center;
		}
		p {
			font-size: 1.1rem;
		}
		.text-part {
			padding-left: 1rem;
		}
		.card-icon {
			width: 4rem;
		}
	}
}

//* Core Team
.core-team {
	margin: 1.5rem 1rem;
	padding: 0;
	.team-card-container {
		@include setFlex(column);
	}
}
.team-card {
	text-align: center;
	margin-bottom: 1rem;
	max-width: 100%;

	img {
		width: 100%;
		height: auto;
		border-radius: 2rem;
	}
	h4 {
		margin: 0.5rem 0;
		font-size: 1.3rem;
	}
	p {
		line-height: 1.3;
		font-weight: 600;
	}
}

//* Programs
.programs {
	text-align: center;
	margin: 1rem;
	.img-container {
		position: relative;
		img {
			width: 100%;
			z-index: -1;
			border-radius: 1rem;
		}
		.img-footer {
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 3.5rem;
			border-radius: 0 0 1rem 1rem;
			@include setFlex(column);
		}
		h4 {
			color: $white-text;
			margin: 0;
		}
	}
}

.program-card {
	@include setFlex(column);
	.img-container {
		margin: 2rem 0 1rem 0;
	}
	.read-more-btn {
		margin-top: 0.5rem;
	}
}
.undergraduate .img-container {
	margin-top: 1rem;
}
.undergraduate {
	.img-footer {
		background-color: rgba(55, 63, 133, 0.8);
	}
}
.pre-university {
	.img-footer {
		background-color: rgba(28, 49, 78, 0.8);
	}
}
.elp {
	.img-footer {
		background-color: rgba(9, 9, 18, 0.8);
	}
}
.leadership {
	.img-footer {
		background-color: #dbd6d2;
		opacity: 0.8;
		h4 {
			color: $black-text;
		}
	}
}

//* Bachelor model
.bachelor-modal {
	.modal-header {
		flex-direction: column;
	}
	.bachelor-container {
		img {
			width: 60%;
			max-width: 280px;
		}
	}
	ul.bachelor-container {
		list-style-type: none;
		margin-bottom: 0;
	}
	.bachelor-list {
		padding-bottom: 1rem;
		border-bottom: 1px solid #c7c7c7;
		margin-bottom: 1rem;
	}
	.bachelor-list:last-child {
		border-bottom: none;
	}
	.modal-footer {
		justify-content: flex-start;
	}
}

//* Collaboration
.collab-heading {
	margin: 2rem 0 1rem 0;
}
.collaboration {
	margin: 1rem;
	.collab-card {
		display: grid;
		grid-template-rows: auto min-content;
		justify-items: center;
		align-items: stretch;
		text-align: center;
		row-gap: 1rem;
		transition: transform 0.3s;
		&:hover {
			transform: scale(1.03);
		}
		p {
			font-weight: 600;
		}
	}
	.collab-img {
		width: 100%;
	}
	.swiper-button-next,
	.swiper-button-prev {
		display: none;
	}
	.swiper-wrapper {
		margin-bottom: 2rem;
	}
}

@import 'footer';

//* Carousel (main)
.main-carousel {
	//* targeting all mobile devices with landscape orientation
	@media (max-width: 991px) and (orientation: landscape) {
		.carousel {
			img {
				max-width: 50%;
				height: auto;
				margin: 0 auto;
			}
		}
		.slide-paragraph {
			max-width: 60%;
		}
	}
	@media (min-width: 768px) {
		.tablet {
			display: block;
		}
		.carousel-item {
			height: calc(100vh - 60px);
		}
		.carousel-inner {
			img {
				height: auto;
			}
			.mobile {
				display: none;
			}
		}
		.slide-paragraph {
			max-width: 60%;
		}
	}
	@media (min-width: 992px) {
		.tablet {
			display: none;
		}
		.desktop {
			display: block;
		}
		.slide-paragraph {
			max-width: 100%;
		}
		.slide-caption {
			max-width: 350px;
			right: 1.5rem;
			bottom: auto;
			top: calc((100vh - 254px - 60px) / 2);
		}
		.slide1 {
			top: calc((100vh - 236px - 60px) / 2);
		}
		.carousel-indicators {
			top: auto;
			bottom: -3.4rem;
			width: 150px;
			margin: 0.5rem auto;
			border-radius: 1rem;
		}
	}
	@media (min-width: 1200px) {
		.c3 {
			.desktop {
				display: none;
			}
			.laptop {
				display: block;
			}
		}
		.slide-caption {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 5rem;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			max-height: calc(100% - 60px);
		}
		.slide1 {
			left: 4rem;
			align-items: flex-start;
			padding: 0;
			background-color: transparent;
			h3,
			p {
				text-align: left;
				color: $white-text;
			}
			a {
				margin: 1rem 0;
			}
			h3 {
				padding-top: 0.5rem;
				font-weight: 900;
				font-size: 1.7rem;
			}
			p.slide-paragraph-bigger {
				font-weight: 700;
				font-size: 1.3rem;
			}
			p.slide-paragraph {
				font-size: 1.1rem;
			}

			max-width: 30%;
			max-height: 100%;
		}
		.carousel-controllers {
			display: block;
		}
	}
	@media (min-width: 1400px) {
		.c3 {
			.desktop {
				display: block;
			}
			.laptop {
				display: none;
			}
		}
		.slide-caption {
			max-width: 400px;
			padding: 2rem;
			p,
			h3,
			li {
				padding: 0.5rem 0;
			}
			right: 6em;
		}
		.slide1 {
			max-width: 35%;
		}
	}
}

//* About section
.rector-container {
	@media (min-width: 360px) {
		.rector-content {
			h3 {
				font-size: 0.9rem;
			}
			h4 {
				font-size: 0.8rem;
			}
			p {
				font-size: 0.8rem;
				line-height: 1.4;
			}
		}
	}
	@media (min-width: 425px) {
		.rector-content {
			h3 {
				font-size: 1.1rem;
			}
			h4 {
				font-size: 0.9rem;
			}
			p {
				font-size: 0.9rem;
				line-height: 1.5;
			}
		}
	}
	@media (min-width: 600px) {
		.rector-content {
			h3 {
				font-size: 1.5rem;
			}
			h4 {
				font-size: 1.1rem;
			}
			p {
				font-size: 1.1rem;
				font-weight: 600;
			}
			padding-left: 1rem;
		}
	}
	@media (min-width: 768px) {
		max-width: 736px;
		max-height: 465px;
	}
}
.about {
	@media (min-width: 768px) {
		.vision-mission-container {
			@include setGrid(1fr, 1fr);
			justify-content: center;
			align-items: stretch;
			column-gap: 1rem;
			margin-bottom: 1.5rem;
			max-width: 736px;
		}
		.about-paragraph {
			max-width: 736px;
		}
	}
	@media (min-width: 992px) {
		margin: 1.5rem 2rem;
		.vision-mission-container {
			column-gap: 2rem;
		}
	}
	@media (min-width: 1024px) {
		.about-paragraph {
			min-width: 736px;
			max-width: calc(100vw - 30vw);
		}
		.vision-mission-container {
			min-width: 736px;
			max-width: calc(100vw - 30vw);
		}
	}
	@media (min-width: 1200px) {
		margin: 1.5rem 4rem;
	}
	@media (min-width: 1400px) {
		margin: 1.5rem 5rem;
	}
}

//* Values part
.values {
	@media (min-width: 768px) {
		.sub-heading {
			margin: 0.25rem 0;
		}
		.card-container {
			@include setGrid(1fr, 1fr);
			column-gap: 1rem;
		}
	}
	@media (min-width: 992px) {
		.card-container {
			column-gap: 2rem;
			row-gap: 1rem;
		}
		.last-card {
			@include setFlex(row);
		}
		.last-value {
			min-width: 35rem;
			margin-top: 2rem;
		}
	}
	@media (min-width: 1281px) {
		.card-container {
			.cards {
				&:nth-child(1),
				&:nth-child(2) {
					margin-top: 1rem;
				}
			}
		}
	}
	@media (min-width: 1400px) {
		@include setFlex(column);
		.card-container {
			column-gap: 3rem;
		}
	}
}

//* Core Team
.core-team {
	@media (min-width: 360px) {
		.team-card {
			max-width: 80%;
		}
	}
	@media (min-width: 425px) {
		.team-card {
			max-width: 65%;
		}
		.img-container {
			max-width: 310px;
		}
	}
	@media (min-width: 768px) {
		.team-card-container {
			@include setGrid(1fr, 1fr);
			align-items: stretch;
			justify-items: center;
			row-gap: 2rem;
		}
		.team-card {
			width: 35vw;
			max-width: 320px;
			margin-bottom: 0;
			img {
				width: 100%;
			}
		}
	}
	@media (min-width: 992px) {
		.team-card-container {
			column-gap: 2rem;
		}
		.team-card:nth-child(odd) {
			justify-self: end;
		}
		.team-card:nth-child(even) {
			justify-self: start;
		}
	}
	@media (min-width: 1281px) {
		margin: 1.5rem;
		.team-card-container {
			@include setGrid(1fr 1fr, 1fr 1fr);
			align-items: stretch;
			column-gap: 1rem;
			row-gap: 0;
			.team-card {
				max-width: 260px;
				justify-self: center;
			}
		}
	}
	@media (min-width: 1400px) {
		@include setFlex(column);
		.team-card-container {
			column-gap: 3rem;
		}
	}
}

//* Programs
.programs {
	@media (min-width: 360px) {
		.program-card-container {
			@include setFlex(column);
		}
		.img-container {
			width: 80%;
		}
	}
	@media (min-width: 425px) {
		.program-card {
			width: 100%;
			padding: 0 1rem;
		}
		.img-container {
			width: 70%;
			max-width: 310px;
		}
	}
	@media (min-width: 768px) {
		.program-card {
			width: 320px;
			margin: 0;
			padding: 0;
			.read-more-btn {
				margin: 0;
			}
		}
		.img-container {
			width: 100%;
			margin: 0;
		}
		.program-card-container {
			@include setGrid(1fr, 1fr);
			justify-items: center;
			align-items: stretch;
			row-gap: 2rem;
		}
		.program-card {
			margin-top: 0.5rem;
			display: grid;
			grid-template-rows: min-content auto 46px;
			justify-items: center;
			align-items: start;
			row-gap: 1rem;
		}
	}
	@media (min-width: 992px) {
		.program-card-container {
			justify-items: end;
			column-gap: 2rem;
		}
		.program-card:nth-child(even) {
			justify-self: start;
		}
	}

	@media (min-width: 1281px) {
		h1 {
			font-size: 2.3rem;
		}
		.program-card-container {
			margin: 1.5rem;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			justify-items: center;
		}
		.program-card {
			margin: 0;
			width: 260px;
		}
		.program-card:nth-child(even) {
			justify-self: center;
		}
	}
	@media (min-width: 1400px) {
		@include setFlex(column);
		.program-card-container {
			column-gap: 3rem;
		}
	}
	@media (min-width: 1440px) {
		.program-card {
			width: 280px;
			p {
				font-size: 1.03rem;
			}
		}
		.img-footer {
			height: 4rem;
			h4 {
				font-size: 1.4rem;
			}
		}
	}
}
.bachelor-modal {
	@media (min-width: 1200px) {
		.modal-dialog {
			min-width: 70vw;
		}
		.modal-content {
			padding: 0 1.5rem;
		}
		.bachelor-container {
			img {
				width: 100%;
				max-width: 180px;
			}
		}
		.bachelor-list {
			text-align: left;
			display: flex;
			justify-content: space-between;
			align-items: stretch;
		}
		.bachelor-content {
			max-width: calc(100% - 180px - 24px);
			display: flex;
			flex-direction: column;
			justify-content: center;
			h3 {
				margin-top: 0;
			}
		}
		.bachelor-list:nth-child(even) {
			flex-direction: row-reverse;
		}
	}
}

//* Collaboration
.collaboration {
	@media (min-width: 768px) {
		margin: 0 2rem;
		padding: 0 2rem;
		.swiper-button-next,
		.swiper-button-prev {
			display: block;
			color: $logo;
		}
		.swiper-button-next {
			right: 0;
		}
		.swiper-button-prev {
			left: 0;
		}
		.swiper-pagination-bullet {
			width: 0.6rem;
			height: 0.6rem;
			transition: all 0.4s ease;
		}
		.swiper-pagination-bullet-active {
			transform: scale(1.4);
		}
		.collab-card {
			width: calc((100vw - 2rem) / 4 - 20px);
		}
	}
	@media (min-width: 1200) {
		.collab-card {
			margin: 0 5rem;
		}
	}
}
.collaboration {
	@media (min-width: 1261px) {
		.swiper-pagination-bullet {
			display: none;
		}
		.swiper-wrapper {
			margin-bottom: 0;
		}
	}

	@media (min-width: 1200px) {
		margin: 1rem 0;
		padding: 0;
		.swiper-wrapper {
			width: 1010px;
			.collab-card {
				width: 175px !important;
			}
		}
		display: flex;
		justify-content: center;
		.swiper-button-next {
			right: calc((100vw - 1010px) / 2 - 3rem);
		}
		.swiper-button-prev {
			left: calc((100vw - 1010px) / 2 - 3rem);
		}
		.swiper-pagination {
			display: none;
		}
	}
}

.news-section {
	padding: 1rem;
	.swiper-button-next,
	.swiper-button-prev {
		display: none;
	}
	.swiper-slide {
		background-color: $white-text;
		border: 1px solid #d4d4d4;
		border-radius: 0.5rem;
		width: 100%;
		@include setFlex(column);
		justify-content: space-between;
	}
	img {
		width: 100%;
		max-width: 300px;
		border-top-left-radius: 0.5rem;
		border-top-right-radius: 0.5rem;
	}
	//decided some img be full width in 360px viewport
	.bigger-img {
		max-width: 326px;
	}
	.swiper-wrapper {
		margin-bottom: 3rem;
	}
	.news-container {
		max-width: 390px;
	}
	.news-content {
		margin-top: 0.5rem;
		padding: 0.5rem;
		height: 100%;
		h4 {
			text-align: left;
		}
	}
	.date-container {
		position: absolute;
		top: 0.5rem;
		right: 0.5rem;
		width: 3rem;
		height: 3rem;
		padding: 0.5rem;
		background-color: $logo;
		color: $white-text;
		border-radius: 50%;
		font-size: 0.8rem;
		font-weight: 600;
		@include setFlex(column);
	}
	@media (min-width: 768px) {
		.news-container {
			max-width: unset;
		}
		.swiper-slide {
			width: 352px !important;
			height: 585px;
			img {
				max-width: 350px;
				height: auto;
			}
		}
		.news-content{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
	}
	@media (min-width: 992px) {
		padding: 1rem 1.5rem;
		.news-container{
			max-width: 736px;
		}
	}
	@media (min-width: 1200px){
		padding: 1rem 4rem;
	}
	@media (min-width: 1281px){
		.news-container{
			max-width: 1120px;
		}
	}
	@media (min-width: 1400px){
		padding: 1rem 5rem;
	}
	@media (min-width: 1440px){
		.swiper-slide {
			height: 630px;
		}
		.news-content{
			padding: 0.5rem 1rem;
		}
	}

}
