$background: #eeeeee;
$grey: #636b6f;
$logo: #542585;
$logo-hover: #46206e;
$black-text: #212529;
$white-text: #fff;
$card-color: #f9f9f9;

*,
*:before,
*:after {
	box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
}
p {
	margin: 0;
}
body {
	font-family: "Roboto", sans-serif;
	background-color: $white-text;
}

@mixin setSectionBack($back-color) {
	background: $back-color;
}
@mixin setFlex($direction) {
	display: flex;
	flex-direction: $direction;
	justify-content: center;
	align-items: center;
}
@mixin setGrid($col1, $col2) {
	display: grid;
	align-items: center;
	grid-template-columns: $col1 $col2;
}

.heading {
	color: $logo;
	text-align: center;
	font-weight: 700;
	font-size: 2rem;
	padding: 0;
	margin: 1rem 0;
}
.sub-heading {
	text-align: center;
	color: $black-text;
	padding: 0;
	margin: 1rem 0;
	font-weight: 600;
	font-size: 1.5rem;
}
.small-heading {
	text-align: center;
	color: $black-text;
	font-weight: 600;
	font-size: 1.2rem;
}
.section-paragraph {
	text-align: center;
	color: $black-text;
	font-size: 1.1rem;
}

//* About section
.about {
	margin: 1.5rem 0;
	padding: 0 1rem;
}
.rector-container {
	position: relative;
	img {
		margin: 1rem 0;
		width: 100%;
		height: auto;
	}
	.rector-content {
		position: absolute;
		top: 0;
		margin: 7% 0;
		height: 80%;
		border-left: 5px solid #0a2b6e;
		padding-left: 0.5rem;
		max-width: calc(60% - 1rem);
		h3,
		h4,
		p {
			margin: 0;
			text-align: left;
		}
		h3{
			margin-top: 0.5rem;
			color: $logo;
			font-weight: 700;
			font-size: 0.8rem;
		}
		h4{
			color: #1644A1;
			font-size: 0.7rem;
			font-weight: 600;
			margin: 0.5rem 0;
		}
		p{
			color: $black-text;
			font-size: 0.8rem;
			font-weight: 700;
			line-height: 1.3;
		}
	}
}

//* Values part
.values {
	.cards {
		background: $card-color;
		box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.13);
		border-radius: 1rem;
		padding: 1rem;
		margin-top: 1rem;
		@include setGrid(1fr, 3fr);
		align-self: stretch;
		.icon-part {
			justify-self: center;
		}
		p {
			font-size: 1.1rem;
		}
		.text-part {
			padding-left: 1rem;
		}
		.card-icon {
			width: 4rem;
		}
	}
}

//?=========================
//! Media queries
//?=========================

//* Values part
.values {
	@media (min-width: 768px) {
		.sub-heading {
			margin: 0;
		}
		.card-container {
			@include setGrid(1fr, 1fr);
			column-gap: 1rem;
		}
	}
	@media (min-width: 992px) {
		.last-card {
			@include setFlex(row);
		}
		.last-value {
			min-width: 35rem;
		}
	}
	@media (min-width: 1281px) {
		.cards {
			margin-top: 2rem;
		}
		.card-container {
			column-gap: 2rem;
			.cards {
				&:nth-child(1),
				&:nth-child(2) {
					margin-top: 1rem;
				}
			}
		}
	}
}

//? Media queries Stack Overflow
// @media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
// @media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
// @media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
// @media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
// @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
//! @media (min-width:1281px) { /* hi-res laptops and desktops */ }

//? Media queries Bootstrap
// @media (min-width: 1400px)
// @media (min-width: 1200px)
//! @media (min-width: 992px)
// @media (min-width: 768px)
// @media (min-width: 576px)
