/* 
$background: #eeeeee;
$grey: #636b6f;
$logo: #542585;
$black-text: #212529; 
*/

/*! wrong colors
#552588		logo
#636b6e		grey


*/


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

html {
	scroll-behavior: smooth;
}
a:hover {
	text-decoration: none;
}
.clr {
	clear: both;
}
section {
	margin: 72px 0;
}
.title {
	text-align: center;
	font-size: 40px;
	font-weight: 600;
	color: #552588;
	margin-bottom: 15px;
}
.navbar {
	position: fixed;
	width: 100%;
	background: #636b6e;
	padding: 5px 0;
	margin-top: -72px;
	transition: all 0.3s ease;
	z-index: 999;
}
.container1 {
	display: flex;
	justify-content: space-between;
	min-width: 90%;
	padding: 0 15px;
	margin: 0 auto;
}

.navbar .logo {
	display: inline-flex;
	width: 220px;
	color: #fff;
	padding: 0;
	margin: 0;
}
.navbar .logo p {
	padding-left: 20px;
	font-size: 11.2px;
	margin: 0;
}
.navbar .logo img {
	width: 80px;
	height: 63px;
}
.navbar .logo a {
	color: #fff;
	font-size: 35px;
	font-weight: 600;
	text-decoration: none;
}
.navbar .menu {
	margin-bottom: 0;
	align-items: center;
	min-height: 100%;
	padding-top: 18px;
}
.navbar .menu li {
	list-style: none;
	display: inline-block;
	margin-left: 15px;
}

.navbar .menu li a {
	display: block;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	text-decoration: none;
	transition: color 0.3s ease;
}
.navbar .menu li a:hover {
	color: #552588;
}

.scroll-up-btn {
	position: fixed;
	height: 45px;
	width: 42px;
	background: #552588;
	right: 30px;
	bottom: 10px;
	text-align: center;
	line-height: 45px;
	color: #fff;
	z-index: 9999;
	font-size: 30px;
	border-radius: 6px;
	cursor: pointer;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s ease;
}
.scroll-up-btn.show {
	opacity: 1;
	pointer-events: auto;
	bottom: 30px;
}
.home {
	background-image: url("/root/images/main.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left;
	color: #fff;
	height: 92vh;
}
.home .home-content {
	padding-top: 130px;
	width: 90%;
	margin: 0 auto;
	padding-left: 10px;
}
.home .home-content .text-1 {
	font-size: 30px;
}
.home .home-content .text-2 {
	padding: 0;
	font-size: 50px;
	width: 550px;
	font-weight: 500;
}
.home .home-content .text-3 {
	font-size: 25px;
}
.home .home-content .text-4 {
	font-size: 25px;
}
.home .home-content a {
	display: inline-block;
	background: #552588;
	color: #fff;
	font-size: 22px;
	padding: 5px 12px;
	margin-top: 20px;
	border-radius: 30px;
	text-decoration: none;
	border: 3px solid #552588;
	transition: all 0.3s ease;
}
.home .home-content a:hover {
	background: none;
}
.menu-btn {
	display: none;
	color: #fff;
	font-size: 23px;
	cursor: pointer;
}
@media (max-width: 1100px) {
	.home .home-content {
		margin: 0 auto;
		width: 95%;
		padding-left: 0;
	}
	.home .home-content .text-1 {
		font-size: 28px;
	}
	.home .home-content .text-2 {
		font-size: 45px;
		width: 550px;
		font-weight: 480;
	}
	.home .home-content .text-3 {
		font-size: 23px;
	}
	.home .home-content .text-4 {
		font-size: 23px;
	}
}
@media (max-width: 947px) {
	.home .home-content .text-1 {
		font-size: 25px;
	}
	.home .home-content .text-2 {
		font-size: 40px;
		width: 550px;
		font-weight: 480;
	}
	.home .home-content .text-3 {
		font-size: 20px;
	}
	.home .home-content .text-4 {
		font-size: 20px;
	}
	.home .home-content a {
		font-size: 20px;
		padding: 4px 10px;
	}

	@media (max-width: 880px) {
		.container1 {
			min-width: 95%;
			padding: 0 5px;
		}
		.home .home-content .text-1 {
			font-size: 20px;
		}
		.home .home-content .text-2 {
			font-size: 35px;
			width: 400px;
			font-weight: 480;
		}
		.home .home-content .text-3 {
			font-size: 18px;
		}
		.home .home-content .text-4 {
			font-size: 18px;
		}
		.home .home-content a {
			font-size: 18px;
			padding: 4px 10px;
		}
	}
	@media (max-width: 380px) {
		.container1 {
			min-width: 95%;
		}
		.home .home-content .text-1 {
			font-size: 18px;
		}
		.home .home-content .text-2 {
			font-size: 28px;
			width: 310px;
			font-weight: 450;
		}
		.home .home-content .text-3 {
			font-size: 15px;
		}
		.home .home-content .text-4 {
			font-size: 15px;
		}
		.home .home-content a {
			font-size: 15px;
			padding: 4px 10px;
		}
	}
	.menu-btn {
		display: block;
		padding-top: 15px;
		z-index: 999;
	}
	.menu-btn i.active::before {
		content: "\f00d";
	}
	.navbar .menu {
		position: fixed;
		height: 100vh;
		width: 100%;
		left: -100%;
		top: 0;
		background: #636b6e;
		opacity: 0.96;
		text-align: center;
		padding-top: 80px;
		transition: all 0.3s ease;
	}
	.navbar .menu.active {
		left: 0;
	}
	.navbar .menu li {
		display: block;
	}
	.navbar .menu li a {
		display: inline-block;
		margin: 20px 0;
		font-size: 25px;
	}

	.about .about-content .left {
		display: flex;
		justify-content: center;
		margin: 0 auto 60px;
	}
	.about .about-content .right {
		flex: 100%;
	}
}
.col-md-12 {
	padding: 0;
}
.about .about-content-title {
	margin: 15px 0;
	text-align: center;
	font-size: 25px;
	font-family: "roboto", sans-serif;
}

.collaboration .carousel .card {
	border: none;
	border-radius: 6px;
	background: rgb(41, 40, 40);
}

.collaboration .carousel .box1 {
	background: rgb(41, 40, 40);
	border-radius: 6px;
	padding: 25px 35px;
	text-align: center;
	transition: all 0.3s ease;
}
.collaboration .carousel .box2 {
	background: rgb(41, 40, 40);
	width: 100%;
	border-radius: 6px;
	justify-content: center;
	text-align: center;
	height: 35px;
	transition: all 0.3s ease;
}

/* collaboration section  */
