/* 
$background: #eeeeee;
$grey: #636b6f;
$logo: #542585;
$black-text: #212529; 
*/

/*! wrong colors
#552588		logo
#636b6e		grey

*/

/* academics section */

/* student life section */
.student-life {
	background-image: url("https://raw.githubusercontent.com/mirodil1999/TIUE/github-pages/root/images/student%20life/student-life.png");
	object-fit: cover;
	min-height: 100%;
}
.student-life .text {
	width: 100%;
	height: 95vh;
	padding-top: 350px;
	color: #fff;
	font-size: 100px;
	font-weight: 600;
}

/* news and events */

/* contact section */
.contact .sub-heading{
	padding-top: 0;
	color: #542585;
}
.contact1 *{
	padding: 0.3rem;
}
.contact .col-md-5 {
	display: flex;
	align-self: center;
	text-align: center;
}
.contact img {
	width: 130px;
	height: 125px;
}
.contact .col-md-5 p {
	padding-left: 25px;
	font-size: 22px;
	font-weight: 600;
}
.contact .col-md-1 {
	border-right: 3px solid #552588;
}
.contact .title {
	font-size: 20px;
	border-bottom: none;
}
.contact .contact1 {
	display: flex;
	padding-left: 20px;
}
.contact .contact1 .fas {
	font-size: 20px;
	color: #552588;
}
.background {
	background: #636b6e;
}
.background-footer {
	background: #485155;
}
.footer .fab {
	padding: 0 15px;
	font-size: 20px;
}
.footer a {
	color: #fff;
	transition: all 0.3s ease;
}
.footer a:hover {
	color: #552588;
}
@media (max-width: 1200px) {
	.student-life .text {
		font-size: 70px;
	}
}
@media (max-width: 770px) {
	.student-life .text {
		font-size: 40px;
	}
	.contact .col-md-5 p {
		font-size: 22px;
		font-weight: 570;
	}
}
@media (max-width: 415px) {
	.student-life .text {
		padding-top: 270px;
	}
	.student-life {
		background-image: url("https://raw.githubusercontent.com/mirodil1999/TIUE/github-pages/root/images/student%20life/student-life-mobile.jpg");
	}
	.contact .col-md-5 p {
		font-size: 20px;
		font-weight: 570;
	}
}

@media (max-width: 345) {
	.student-life .text {
		width: 60%;
		height: 95vh;
		padding-top: 340px;
		color: #fff;
		font-size: 30px;
		font-weight: 600;
	}
}
@media (max-width: 330px) {
	.contact .col-md-5 p {
		font-size: 17px;
		font-weight: 500;
	}
	.contact img {
		width: 120px;
		height: 100px;
	}
}
@media (max-width: 320px) {
	.contact .col-md-5 p {
		font-size: 15px;
		font-weight: 450;
	}
	.contact img {
		width: 100px;
		height: 90px;
	}
}

