*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #eeeeee;
}

.heading {
  color: #542585;
  text-align: center;
  font-weight: 600;
  margin-bottom: 0;
}

.sub-heading {
  text-align: center;
  margin-bottom: 0;
  font-weight: 600;
}

.small-heading {
  text-align: center;
  color: #212529;
  font-weight: 600;
}

.section-paragraph {
  text-align: center;
  color: #212529;
  font-size: 1.1rem;
}

.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: #542585;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.scroll-up-btn.show {
  opacity: 1;
  pointer-events: auto;
  bottom: 30px;
}

.navbar {
  background-color: rgba(99, 107, 111, 0.3);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  padding: 4px 1rem;
}

.navbar .container-fluid {
  padding: 0;
}

.navbar .menu-button {
  display: block;
  position: relative;
  outline: none;
}

.navbar .dropdown-toggle::after {
  display: none;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  color: #fff;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.logo:hover {
  color: #fff;
}

.logo p {
  padding-left: 1rem;
  font-size: 0.55rem;
  margin: 0;
}

.logo img {
  width: 64px;
  height: 48px;
}

.navbar-toggler {
  display: block;
  padding: 1.5rem 1.5rem !important;
  border: none !important;
}

.navbar-toggler:focus, .navbar-toggler:hover {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.menu-button span {
  position: absolute;
  display: block;
  background: #fff;
  width: 30px;
  height: 3px;
  border-radius: 50px;
  left: -7px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menu-button span:nth-child(1) {
  top: -13px;
}

.menu-button span:nth-child(2) {
  top: -1.5px;
}

.menu-button span:nth-child(3) {
  top: 10px;
}

.first-line {
  -webkit-transform: translateX(0) translateY(13px) rotate(45deg);
          transform: translateX(0) translateY(13px) rotate(45deg);
}

.second-line {
  opacity: 0;
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
}

.third-line {
  -webkit-transform: translateX(0) translateY(-10px) rotate(135deg);
          transform: translateX(0) translateY(-10px) rotate(135deg);
}

.navbar-nav .nav-item .nav-link {
  text-align: center;
  font-weight: 500;
  color: #fff;
}

.navbar-nav .nav-item .nav-link:hover {
  font-weight: 600;
  color: #542585;
}

.navbar-nav .nav-item .home {
  font-weight: 600;
  color: #542585;
}

.navbar-nav .nav-item .fa-chevron-down {
  display: none;
}

.dropdown .fa-plus {
  position: absolute;
  right: 0.7rem;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.dropdown > .show .fa-plus {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.dropdown > .dropdown-menu {
  opacity: 0;
  display: block;
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 0;
  margin: 0;
  border: none;
  background-color: #eeeeee;
  text-align: center;
  padding: 0 1rem;
}

.dropdown .dropdown-menu.show {
  opacity: 1;
  max-height: 500px;
  visibility: visible;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.dropdown-list {
  background-color: #fff;
  padding: 0.5rem;
  margin: 1rem 0;
  border-radius: 1rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 3fr 1fr;
      grid-template-columns: 1fr 3fr 1fr;
}

.dropdown-list img {
  -ms-grid-column-align: center;
      justify-self: center;
  width: 4rem;
  border-radius: 0.75rem;
}

.dropdown-list:hover {
  background-color: #636b6f;
}

.dropdown-list:hover .dropdown-item {
  color: #fff;
}

.dropdown-list .dropdown-item {
  background-color: transparent;
  color: #212529;
}

.main-carousel {
  height: 100vh;
}

.main-carousel .carousel img {
  height: auto;
}

.main-carousel .carousel .carousel-controllers {
  display: none;
}

.main-carousel .carousel-indicators {
  bottom: -3.5rem;
}

.main-carousel .carousel-indicators li {
  background-color: #542585;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 0.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main-carousel .carousel-indicators li.active {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.carousel-item {
  height: 85vh;
}

.carousel-item h3 {
  font-weight: bolder;
  color: #fff;
  margin-bottom: 0.5rem;
}

.carousel-item p.slide-paragraph,
.carousel-item li,
.carousel-item a {
  font-weight: bolder;
  color: #fff;
}

.carousel-item ol {
  padding: 0;
  margin: 0 0 0 0.5rem;
}

.carousel-item .desktop {
  display: none;
}

.carousel-item .tablet {
  display: none;
}

.carousel-item .mobile {
  display: block;
}

.carousel-item .action-btn {
  display: block;
  text-align: center;
  width: 140px;
  text-decoration: none;
  color: #542585;
  background-color: #fff;
  padding: 0.75rem;
  border-radius: 2rem;
  margin: 0.5rem auto 0 auto;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.carousel-item .action-btn:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.carousel-item .slide-caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  opacity: 0.85;
  padding: 1rem;
  width: calc(100vw);
}

.carousel-item .slide-caption .slide-list {
  margin-top: 1rem;
  padding-left: 1rem;
}

.carousel-item .slide1 {
  background-color: #e4e4dc;
}

.carousel-item .slide1 h3 {
  color: #212529;
  text-align: center;
}

.carousel-item .slide1 .action-btn {
  color: #fff;
  background-color: #542585;
}

.carousel-item .slide1 p {
  text-align: center;
  color: #212529;
}

.carousel-item .slide1 .slide-paragraph-bigger {
  font-size: larger;
  font-weight: bolder;
}

.carousel-item .slide1 .slide-paragraph {
  font-weight: lighter;
}

.carousel-item .slide2 {
  background-color: #f10c22;
}

.carousel-item .slide3 {
  background-color: #183c7a;
}

.carousel-item .slide4 {
  background-color: #222530;
}

@media (min-width: 992px) {
  .navbar {
    padding: 4px 1.5rem;
  }
  .navbar .navbar-toggler {
    display: none;
  }
  .navbar .navbar-nav {
    padding: 0 1rem;
  }
  .navbar .fa-plus {
    display: none;
  }
  .navbar .dropdown .fa-chevron-down {
    display: block;
    position: absolute;
    right: 50%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
  }
  .navbar .dropdown .nav-link:hover .fa-chevron-down {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
  }
  .navbar .dropdown .dropdown-menu {
    position: absolute;
    top: 50px;
    -webkit-box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.3);
            box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.3);
    background-clip: border-box;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar .dropdown .dropdown-list {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
  }
  .navbar .dropdown .dropdown-list img {
    -ms-grid-column-align: center;
        justify-self: center;
    width: 5rem;
  }
}

@media (min-width: 1200px) {
  .navbar {
    padding: 4px 4rem;
  }
}

@media (min-width: 1400px) {
  .navbar {
    padding: 4px 5rem;
  }
}

@media (max-width: 992px) and (orientation: landscape) {
  .main-carousel .carousel img {
    max-width: 50%;
    height: auto;
    margin: 0 auto;
  }
  .main-carousel .slide-paragraph {
    max-width: 60%;
  }
}

@media (min-width: 768px) {
  .main-carousel .tablet {
    display: block;
  }
  .main-carousel .carousel-item {
    height: calc(100vh - 60px);
  }
  .main-carousel .carousel-inner img {
    height: auto;
  }
  .main-carousel .carousel-inner .mobile {
    display: none;
  }
  .main-carousel .slide-paragraph {
    max-width: 60%;
  }
}

@media (min-width: 992px) {
  .main-carousel .tablet {
    display: none;
  }
  .main-carousel .desktop {
    display: block;
  }
  .main-carousel .slide-paragraph {
    max-width: 100%;
  }
  .main-carousel .slide-caption {
    max-width: 350px;
    right: 1.5rem;
    bottom: auto;
    top: calc((100vh - 254px - 60px) / 2);
  }
  .main-carousel .slide1 {
    top: calc((100vh - 236px - 60px) / 2);
  }
  .main-carousel .carousel-indicators {
    top: auto;
    bottom: -3.4rem;
    width: 150px;
    margin: 0.5rem auto;
    border-radius: 1rem;
  }
}

@media (min-width: 1200px) {
  .main-carousel .slide-caption {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5rem;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-height: calc(100% - 60px);
    z-index: 1050;
  }
  .main-carousel .slide1 {
    left: 4rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0;
    background-color: transparent;
    max-width: 30%;
    max-height: 100%;
  }
  .main-carousel .slide1 h3,
  .main-carousel .slide1 p {
    text-align: left;
    color: #fff;
  }
  .main-carousel .slide1 a {
    margin: 1rem 0;
  }
  .main-carousel .slide1 h3 {
    padding-top: 0.5rem;
    font-weight: 900;
    font-size: 1.7rem;
  }
  .main-carousel .slide1 p.slide-paragraph-bigger {
    font-weight: 700;
    font-size: 1.3rem;
  }
  .main-carousel .slide1 p.slide-paragraph {
    font-size: 1.1rem;
  }
  .main-carousel .carousel-controllers {
    display: block;
  }
}

@media (min-width: 1400px) {
  .main-carousel .slide-caption {
    max-width: 400px;
    padding: 2rem;
    right: 6em;
  }
  .main-carousel .slide-caption p,
  .main-carousel .slide-caption h3,
  .main-carousel .slide-caption li {
    padding: 0.5rem 0;
  }
  .main-carousel .slide1 {
    max-width: 35%;
  }
}
