body,
html {
	overflow-x: hidden;
}
body {
	background: rgba(238, 238, 238, 1);
}
.navbar {
	background-color: rgba(140, 149, 153, 0.5);
	backdrop-filter: blur(5px);
}
section {
	margin-bottom: 20px;
}
.heading3,
.heading5,
.sub-title {
	font-family: "Times New Roman", Times, serif;
	font-weight: 600;
}
.small-heading {
	font-weight: 700;
}
.sub-title {
	text-align: center;
	margin: 30px 0;
}
.navbar {
	padding: 0;
}
.navbar img {
	width: 50px;
	height: 50px;
	margin-left: 30px;
	margin-right: 10px;
}
.navbar a {
	text-decoration: none;
	font-size: 18px;
	color: #165dae !important;
}
@media (max-width: 991px) {
	.img-position {
		display: none;
	}
	.navbar a {
		color: #fff !important;
	}
	.home {
		margin-top: 20px;
	}
}
.navbar li {
	font-size: 18px;
	padding: 0 25px;
}

.max-width {
	width: 700px;
	margin: auto;
}
.flex {
	display: flex;
	justify-content: space-between;
}
.title {
	text-align: center;
	font-size: 40px;
	font-weight: 400;
	padding-top: 30px;
	color: #741060;
	font-family: "Times New Roman", Times, serif;
}
/* home content */

.home {
	margin-top: 80px;
}
.home .col-md-5 {
	background-color: #191e61;
	color: #fff;
	min-height: 215px;
}
.home .col-md-5 p {
	font-size: 40px;
	font-weight: 500;
	font-family: "Times New Roman", Times, serif;
	padding-left: 40px;
	padding-top: 40px;
	border-right: 30px solid #741060;
	margin-right: 50px;
}
.home .heading {
	font-family: "Times New Roman", Times, serif;
	color: #741060;
	text-align: center;
	padding-top: 25px;
}
.home .content {
	width: 70%;
	margin: auto;
	text-align: center;
}
.home .content span {
	font-weight: 700;
}
@media (max-width: 991px) {
	.navbar a {
		color: #fff !important;
	}
	.home {
		margin-top: 40px;
	}
}
.partners p {
	font-weight: 600;
}
.partners .link-to {
	text-align: left;
	transition: all 0.3s ease;
}
.partners a {
	text-decoration: none;
	font-size: 18px;
	font-weight: 500;
}
/* program section  */
.col-md-7 {
	margin-bottom: 1rem;
}
.program-text-part {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.programs img {
	margin-bottom: 30px;
	box-shadow: 3px 3px rgb(175, 170, 171);
}
.programs p {
	font-weight: 600;
	padding-top: 5px;
}
.programs .btn {
	font-weight: 600;
	font-size: 20px;
	padding-left: 30px;
}
.programs .collapse {
	padding-top: -50px;
}
.modal-dialog-centered {
	min-width: 80%;
}
.btn1 {
	background-color: #fff;
	border: none;
	padding-left: 30px;
	font-size: 20px;
	font-weight: 400;
	max-width: 350px;
	transition: all 0.2s ease;
}
.btn1:focus,
.btn1:hover {
	outline: 0 !important;
	border: none !important;
}
.btn1:hover {
	color: crimson !important;
}
.btn2 {
	background-color: #fff;
	border: none;
	font-size: 22px;
	font-weight: 600;
	max-width: 350px;
	transition: all 0.2s ease;
	text-align: left;
}
.btn2:focus,
.btn2:hover {
	outline: 0 !important;
	border: none !important;
}
.btn2:hover {
	color: crimson !important;
}

@media (min-width: 992px) {
	.physics-course .modal-body {
		display: grid;
		grid-template-columns: auto 200px;
		column-gap: 1rem;
		justify-items: center;
		align-items: center;
	}
	.physics-course .modal-image img {
		margin-top: 0;
	}
}
.physics-course .modal-image {
	display: flex;
	justify-content: center;
	align-items: center;
}
.physics-course .modal-image img {
	margin-top: 1rem;
	width: 200px;
}

/*? Footer */
.footer .small-heading {
	text-align: center;
	color: #fff;
	font-weight: 600;
	font-size: 1.2rem;
}

.footer {
	background-color: #16163f;
	color: #fff;
	padding: 1rem;
}

.footer .footer-logo {
	display: none;
}

.footer .social-media-icons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.footer .social-media-icons a {
	text-decoration: none;
	display: inline-block;
	width: 2.5rem;
	height: 2.5rem;
	color: #fff;
	border-radius: 1rem;
	margin: 0.5rem;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.footer .social-media-icons a:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

.footer .social-media-icons span {
	width: 100%;
	height: 100%;
	font-size: 1.5rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.footer .social-media-icons .telegram-link {
	background-color: #0088cc;
}

.footer .social-media-icons .telegram-link:hover {
	-webkit-box-shadow: 0 0 13px 0 #0088cc;
	box-shadow: 0 0 13px 0 #0088cc;
}

.footer .social-media-icons .instagram-link {
	background-color: #e4405f;
}

.footer .social-media-icons .instagram-link:hover {
	-webkit-box-shadow: 0 0 13px 0 #e4405f;
	box-shadow: 0 0 13px 0 #e4405f;
}

.footer .social-media-icons .facebook-link {
	background-color: #3b5999;
}

.footer .social-media-icons .facebook-link:hover {
	-webkit-box-shadow: 0 0 13px 0 #3b5999;
	box-shadow: 0 0 13px 0 #3b5999;
}

.footer .map-container {
	width: 100%;
	margin: 1rem 0 1.5rem 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.footer .map-container iframe {
	width: 100%;
	height: 100vh;
	max-height: 220px;
}

.footer .info-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.footer .info-container a {
	text-decoration: none;
	color: #fff;
}

.footer .info-container ul {
	padding-left: 1rem;
}

.footer .info-container h4 {
	color: #fff;
	border-bottom: 1px solid #fff;
}

.footer .contacts-footer {
	max-width: 224px;
	margin: auto;
}

.footer .contacts-footer ul {
	list-style: none;
	padding-left: 0;
}

.copyright-content {
	text-align: center;
	color: #a1a1a1;
	border-top: 1px solid #a1a1a1;
	background-color: #16163f;
	padding: 0.75rem;
}

/*? Footer */
@media (min-width: 570px) {
	.footer .info-container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
	.footer iframe {
		max-width: 400px;
	}
}

@media (min-width: 776px) {
	.footer .contacts-footer {
		margin: 0;
	}
}

@media (min-width: 992px) {
	.footer {
		padding: 0 1.5rem;
	}
	.footer .info-container {
		width: 100%;
	}
}

@media (min-width: 1200px) {
	.footer {
		padding: 1rem 4rem 0 4rem;
	}
	.footer .map-container {
		max-width: 400px;
		display: inline-block;
		margin-right: 1.5rem;
	}
	.footer .map-info-container {
		margin-top: 1rem;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.footer .info-container {
		-webkit-box-pack: space-evenly;
		-ms-flex-pack: space-evenly;
		justify-content: space-evenly;
	}
	.footer .contacts-footer {
		max-width: 340px;
	}
	.footer .bachelor-footer {
		margin-right: 1.5rem;
	}
	.footer .programs-footer {
		margin-right: 1.5rem;
	}
}

@media (min-width: 1400px) {
	.footer {
		padding: 1rem 5rem 0 5rem;
	}
}

@media (min-width: 1500px) {
	.footer .footer-logo {
		display: block;
		position: relative;
	}
	.footer .footer-logo img {
		width: 100%;
		height: auto;
	}
	.footer .footer-logo .logo {
		position: absolute;
		bottom: 2rem;
		right: 5rem;
	}
	.footer .footer-logo p {
		font-size: 0.7rem !important;
	}
}
